.col-md-4.w
  .circle-icon
    .bare-icon.larger
      i.fa.fa-user
  | &#x9;&#x9;&#x9;&#x9;
  h5 Кто мы
  | &#x9;&#x9;&#x9;&#x9;
  hr.aligncenter
  | &#x9;&#x9;&#x9;&#x9;
  p
    | Мы молодая и динамичная компания, расположенная в горороде Стерлигн, штат Вирджиния.
    | Наша компания занимается разработкой мобильного программного обеспечения, используя самые современные технологии, доступные на рынки.
    | В числе наших клиентов находятся как крупные финансовые организации так и перспективные стартап проекты.
