.col-md-4.w
  .circle-icon
    .bare-icon.larger
      i.fa.fa-suitcase
  | &#x9;&#x9;&#x9;&#x9;
  h5 Наши проекты
  | &#x9;&#x9;&#x9;&#x9;
  hr.aligncenter
  | &#x9;&#x9;&#x9;&#x9;
  p
    | Мы работаем как в области мобильных финансовых решений, так и в области перспективных проектов.
    | Такое соотношение позволяет нам добиться баланса между потоком денежных средств и использованием новейших и экспериментальных технологий.
    | Это дает нам возможность постоянно развиваться, изучать новое и раскрывать наши творческие таланты.