.col-md-4.w
  .circle-icon
    .icon.ion-ios7-analytics-outline
  | &#x9;&#x9;&#x9;&#x9;
  h5 2 Important Stats
  | &#x9;&#x9;&#x9;&#x9;
  hr.aligncenter
  | &#x9;&#x9;&#x9;&#x9;
  p
    | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
