.col-md-4.w
  .circle-icon
    .bare-icon.larger
      i.fa.fa-sellsy
  | &#x9;&#x9;&#x9;&#x9;
  h5 Используемые Технологии
  | &#x9;&#x9;&#x9;&#x9;
  hr.aligncenter
  | &#x9;&#x9;&#x9;&#x9;
  p
    | Основной платформой является Apple, используем язык программирования Swift. Для гибридных приложений используем Ioinic, Xamarin.
    | Для тестирования наших продуктов мы используем Frank, Symbiote, Sauce Lab. Для гибридных приложений Karma, SitePrism, Protractor.
    | Облачные решения построены с использованием NodeJS/KoaJS/MongoDB/FoundationDB/Redis. Инфраструктурные решения на основе Terraform, Puppet, Consul, Docker.