.row.mtb2.centered
  .centered
    .bare-icon.larger
      i.fa.fa-group
  
    h3 О нас
    |       
    p Мы молодая и динамичная компания, расположенная в горо      
  br
  br
  = partial('topThree/first')
  | &#x9;&#x9;&#x9;
  = partial('topThree/second')
  | &#x9;&#x9;&#x9;
  = partial('topThree/third')