.row.mtb2.centered
  .col-md-2
  .col-md-8.w
    .circle-icon
      .bare-icon.larger
        i.fa.fa-group

    h3 О нас
    p
      | В нашей компании Мы верим, что в основе лучших приложений лежат простые идеи, уникальный дизайн и
      |  интуитивная модель взаимодействия с пользователем. Удовольствие от использования наших продуктов
      |  и хорошее впечатление от работы с нами, главное, что ценят наши клиенты.
  .col-md-2
.row.mtb2.centered
  = partial('topThree/first')
  | &#x9;&#x9;&#x9;
  = partial('topThree/second')
  | &#x9;&#x9;&#x9;
  = partial('topThree/third')
