.container
  .row.mtb.centered.w
    h5 Наши встречи
    | &#x9;&#x9;&#x9;
    hr.aligncenter
  | &#x9;&#x9;
  .row.w
    .col-md-4
      img.img-responsive.aligncenter(src='http://photos3.meetupstatic.com/photos/event/a/1/2/8/600_434021256.jpeg', alt='')
      | &#x9;&#x9;&#x9;&#x9;
      .date
        h4
          bold 30
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        h4 Мар
      | &#x9;&#x9;&#x9;&#x9;
      h5 Building Great Hybrid Apps with AngularJS, CSS3 and HTML5
      | &#x9;&#x9;&#x9;&#x9;
      p.desc
        | By Levent Gurses at&nbsp;
        b Movel
      | &#x9;&#x9;&#x9;&#x9;
      p
        | We're excited to bring you another developer-focused session on developing real-world iOS apps with AngularJS and CSS3 and HTML5.
      | &#x9;&#x9;&#x9;&#x9;
      p
        a(href='http://www.meetup.com/mobile-dc/events/219283199') Continue Reading...
    | &#x9;&#x9;&#x9;
    .col-md-4
      img.img-responsive.aligncenter(src='http://photos1.meetupstatic.com/photos/event/a/0/d/2/600_434021170.jpeg', alt='')
      | &#x9;&#x9;&#x9;&#x9;
      .date
        h4
          bold 14
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        h4 Фев
      | &#x9;&#x9;&#x9;&#x9;
      h5 Tutorial: Building Mobile Apps for iOS With Xamarin
      | &#x9;&#x9;&#x9;&#x9;
      p.desc
        | By Levent Gurses at&nbsp;
        b Movel
      | &#x9;&#x9;&#x9;&#x9;
      p
        | Xamarin is a fantastic platform that allows for developing native iOS / Android and Windows Phone app in C#. Not only does Xamarin bring all the benefits of developing in an advanced Objet-Oriented language such as C# but also provides strong features such multi-threading, garbage collection, two-way binding, generics, linq and more.
      | &#x9;&#x9;&#x9;&#x9;
      p
        a(href='http://www.meetup.com/mobile-dc/events/219211912/') Continue Reading...
    | &#x9;&#x9;&#x9;
    .col-md-4
      img.img-responsive.aligncenter(src='http://photos1.meetupstatic.com/photos/event/8/2/a/6/600_433473446.jpeg', alt='')
      | &#x9;&#x9;&#x9;&#x9;
      .date
        h4
          bold 7
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        h4 Янв
      | &#x9;&#x9;&#x9;&#x9;
      h5 Developing Full-Stack Apps with Google Polymer
      | &#x9;&#x9;&#x9;&#x9;
      p.desc
        | By Levent Gurses at&nbsp;
        b Movel
      | &#x9;&#x9;&#x9;&#x9;
      p
        | Web Components usher in a new era of web development based on encapsulated and interoperable custom elements that extend HTML itself. Built atop these new standards, Polymer makes it easier and faster to create anything from a button to a complete application across desktop, mobile, and beyond.
      | &#x9;&#x9;&#x9;&#x9;
      p
        a(href='http://www.meetup.com/full-stack-dc/events/219384036') Continue Reading...
    | &#x9;&#x9;&#x9;


