#t.carousel.slide(data-ride='carousel')
  .col-md-6.col-md-offset-3.centered
    h5 Love From Our Users
    |     &#x9;&#x9;
    hr.aligncenter
    //
      Carousel
      ==================================================
    // Indicators
    ol.carousel-indicators
      li.active(data-target='#mint', data-slide-to='0')
      | &#x9;&#x9;        
      li(data-target='#mint', data-slide-to='1')
      | &#x9;&#x9;        
      li(data-target='#mint', data-slide-to='2')
    | &#x9;&#x9;      
    .carousel-inner
      .item.active
        .centered.mtb
          h4
            | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&apos;t look even slightly believable.
          | &#x9;&#x9;&#x9;&#x9;        
          p SHARON SMITH
      | &#x9;&#x9;&#x9;&#x9;
      | &#x9;&#x9;        
      .item
        .centered.mtb
          h4
            | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&apos;t look even slightly believable.
          | &#x9;&#x9;&#x9;&#x9;        
          p SAM MANNING
      | &#x9;&#x9;        
      .item
        .centered.mtb
          h4
            | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&apos;t look even slightly believable.
          | &#x9;&#x9;&#x9;&#x9;        
          p PAUL STEVENSON