#g
  .container
    .row.mtb.centered.w
      h5 Наши партнеры
      | &#x9;&#x9;&#x9;
      hr.aligncenter

    .row.mtb.centered.w
          .col-md-2.centered
          | &#x9;&#x9;&#x9;&#x9;
          .col-md-8.centered
            h5
              img(src="assets/img/movel-logo-red.png" style="width:120px;")
            | &#x9;&#x9;&#x9;&#x9;
            hr.aligncenter
            | &#x9;&#x9;&#x9;&#x9;
            p.alignleft
              a(href="http://www.movel.co" title="Mobil app development company") Movel&nbsp;
              | is a high-end 
              a(href="http://www.movel.co/services" title="Mobile app design company") mobile app design and development company
              | , mentioned in Forbes, TechCrunch and Huffington Post and featured in Clutch.co's&nbsp;
              a(href="http://www.movel.co/company") Top Mobile Companies in USA.&nbsp;
              | As a top&nbsp;
              a(href="http://movel.co/app/ios-development-company/") iOS app development company&nbsp;
              | and one of the highest-ranked&nbsp;
              a(href="http://www.movel.co/app/android-app-development-company/") Android app development companies
              | , we offer world-class design,&nbsp;
              a(href="http://www.movel.co/services/") app development and testing services&nbsp;
              | for native and hybrid mobile apps, web apps, and wearables. Check our&nbsp;
              a(href="http://www.movel.co/case-studies/") case studies&nbsp;
              | or&nbsp;
              a(href="http://www.movel.co/insights/") read our insights&nbsp;
              | to learn more about how we deliver&nbsp;
              a(href="http://www.movel.co/services/") mobile solutions for iOS
              | , Android and&nbsp;
              a(href="http://www.movel.co/app/apple-watch-development-company/") Apple Watch.&nbsp;
              a(href="http://www.movel.co/contact/") Contact us&nbsp;
              | today to discuss your needs or call 571-317-1734 to speak to a representative.
