.container
  .row.mtb.centered
    .col-md-6.col-md-offset-3.w
      h5 Our Services
      | &#x9;&#x9;&#x9;&#x9;
      hr.aligncenter
  | &#x9;&#x9;
  | &#x9;&#x9;
  .row.mtb.centered
    .col-md-3
      .ser.w
        i.icon.ion-settings
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        h5 Web Design
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        hr.aligncenter
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        p
          | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
    | &#x9;&#x9;&#x9;
    .col-md-3
      .ser.w
        i.icon.ion-chatbubble-working
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        h5 Social Media
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        hr.aligncenter
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        p
          | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
    | &#x9;&#x9;&#x9;
    .col-md-3
      .ser.w
        i.icon.ion-beaker
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        h5 Development
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        hr.aligncenter
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        p
          | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
    | &#x9;&#x9;&#x9;
    .col-md-3
      .ser.w
        i.icon.ion-trophy
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        h5 Award Support
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        hr.aligncenter
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        p
          | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.