#f
  .container
    .row
      .col-md-6.col-md-offset-3.w.centered
        h5.mb Хотите быть в курсе наших новостей?
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        form(role='form', action='register.php', method='post', enctype='plain')
          input.subscribe-input(type='email', name='email', placeholder='Введите Ваш почтовый адрес...', required='')
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          button.btn.btn-lg.btn-clear.subscribe-submit(type='submit') Подписаться
    | &#x9;&#x9;&#x9;
    .row.mtb
      .col-md-6.col-md-offset-3.centered
        a(href='https://www.youtube.com/channel/UC1UE4fmxk271ErN885PsMkQ')
          i.icon.ion-social-instagram
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        a(href='https://twitter.com/movelapps')
          i.icon.ion-social-twitter
        //| &#x9;&#x9;&#x9;&#x9;&#x9;
        //a(href='#')
          i.icon.ion-social-facebook
        //| &#x9;&#x9;&#x9;&#x9;&#x9;
        //a(href='#')
          i.icon.ion-social-dribbble