#f
  .container
    .row
      .col-md-6.col-md-offset-3.w.centered
        h5.mb Хотите быть в курсе наших новостей?
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        form(action="//unasolutions.us10.list-manage.com/subscribe/post?u=dc8399c73eb29a82dc600c4c1&amp;id=27d71e2958" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
          div(style="position: absolute; left: -5000px;")
            input(type="text" name="b_dc8399c73eb29a82dc600c4c1_27d71e2958" tabindex="-1" value="")
          input.subscribe-input(type='email', name='EMAIL', placeholder='Введите Ваш почтовый адрес...', required='' id="mce-EMAIL")
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          button.btn.btn-lg.btn-clear.subscribe-submit(type='submit') Подписаться
    | &#x9;&#x9;&#x9;
    .row.mtb
      .col-md-6.col-md-offset-3.centered
        a(href='https://www.youtube.com/channel/UC1UE4fmxk271ErN885PsMkQ')
          i.icon.ion-social-instagram
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        a(href='https://twitter.com/movelapps')
          i.icon.ion-social-twitter
        //| &#x9;&#x9;&#x9;&#x9;&#x9;
        //a(href='#')
          i.icon.ion-social-facebook
        //| &#x9;&#x9;&#x9;&#x9;&#x9;
        //a(href='#')
          i.icon.ion-social-dribbble