#g
  .container
    .row.mtb.centered
      .col-md-6.col-md-offset-3.w
        h5 Мы используем в работе
        | &#x9;&#x9;&#x9;&#x9;
        hr.aligncenter
    | &#x9;&#x9;
    | &#x9;&#x9;
    .row.mtb
      .col-md-1.centered
        i.icon.ion-android-boat
      | &#x9;&#x9;&#x9;&#x9;
      .col-md-3.w
        h5 Docker
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        hr
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        p
          | Docker is an open platform for developers and sysadmins to build, ship, and run distributed applications. Docker enables apps to be quickly assembled from components and eliminates the friction between development, QA, and production environments.
      | &#x9;
      | &#x9;&#x9;&#x9;&#x9;
      .col-md-1.centered
        i.icon.ion-log-out
      | &#x9;&#x9;&#x9;&#x9;
      .col-md-3.w
        h5 Consul
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        hr
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        p
          | Consul has multiple components, but as a whole, it is a tool for discovering and configuring services in your infrastructure. It provides Service Discovery, Health Checking and Key/Value store.
      | &#x9;
      | &#x9;&#x9;&#x9;&#x9;
      .col-md-1.centered
        i.icon.ion-ios-keypad-outline
      | &#x9;&#x9;&#x9;&#x9;
      .col-md-3.w
        h5 Terraform
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        hr
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        p
          | Terraform is a tool for building, changing, and versioning infrastructure safely and efficiently. Terraform can is a code-over-infrastructure with multi data center support.
    | &#x9;&#x9;&#x9;
    .row.mtb
      .col-md-1.centered
        i.icon.ion-social-apple
      | &#x9;&#x9;&#x9;&#x9;
      .col-md-3.w
        h5 Swift language
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        hr
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        p
          | Swift is an innovative new programming language for Cocoa and Cocoa Touch. Swift is ready for  iOS and OS X projects. Swift code works side-by-side with Objective-C.
      | &#x9;
      | &#x9;&#x9;&#x9;&#x9;
      .col-md-1.centered
        i.icon.ion-ionic
      | &#x9;&#x9;&#x9;&#x9;
      .col-md-3.w
        h5 Ionic
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        hr
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        p
          | The world's first full-stack hybrid mobile platform. Allows to build amazing apps on any platform with one single code base.
      | &#x9;
      | &#x9;&#x9;&#x9;&#x9;
      .col-md-1.centered
        i.icon.ion-social-nodejs
      | &#x9;&#x9;&#x9;&#x9;
      .col-md-3.w
        h5 NodeJS
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        hr
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        p
          | Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient.
    .row.mtb.centered
      .col-md-6.col-md-offset-3.w
        h5 И это далеко не все!
        | &#x9;&#x9;&#x9;&#x9;

  | &#x9;&#x9;
  .container
    .row
      .col-md-8.col-md-offset-2
        img.img-responsive.aligncenter(src='assets/img/watch03-sm.png', alt='')