#g
  .container
    .row.mtb.centered
      .col-md-6.col-md-offset-3.w
        h5 Что мы используем в работе
        | &#x9;&#x9;&#x9;&#x9;
        hr.aligncenter
    | &#x9;&#x9;
    | &#x9;&#x9;
    .row.mtb
      .col-md-1.centered
        i.icon.ion-ios7-monitor-outline
      | &#x9;&#x9;&#x9;&#x9;
      .col-md-3.w
        h5 Retina Ready
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        hr
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        p
          | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
      | &#x9;
      | &#x9;&#x9;&#x9;&#x9;
      .col-md-1.centered
        i.icon.ion-ios7-paper-outline
      | &#x9;&#x9;&#x9;&#x9;
      .col-md-3.w
        h5 Documented
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        hr
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        p
          | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
      | &#x9;
      | &#x9;&#x9;&#x9;&#x9;
      .col-md-1.centered
        i.icon.ion-ios7-browsers-outline
      | &#x9;&#x9;&#x9;&#x9;
      .col-md-3.w
        h5 Built On Bootstrap
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        hr
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        p
          | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
    | &#x9;&#x9;&#x9;
    .row.mtb
      .col-md-1.centered
        i.icon.ion-ios7-medkit-outline
      | &#x9;&#x9;&#x9;&#x9;
      .col-md-3.w
        h5 Awesome Support
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        hr
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        p
          | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
      | &#x9;
      | &#x9;&#x9;&#x9;&#x9;
      .col-md-1.centered
        i.icon.ion-ios7-cart-outline
      | &#x9;&#x9;&#x9;&#x9;
      .col-md-3.w
        h5 Affordable Price
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        hr
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        p
          | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
      | &#x9;
      | &#x9;&#x9;&#x9;&#x9;
      .col-md-1.centered
        i.icon.ion-ios7-box-outline
      | &#x9;&#x9;&#x9;&#x9;
      .col-md-3.w
        h5 20 Themes Bundle
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        hr
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        p
          | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
  | &#x9;&#x9;
  .container
    .row
      .col-md-8.col-md-offset-2
        img.img-responsive.aligncenter(src='assets/img/watch03-sm.png', alt='')