- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

//- Prettify Syntax Highlighting
- scripts.add(["/vendor/prettify.js"])
- styles.add(["/vendor/prettify.css"])

//- jQuery
- scripts.add(["/vendor/jquery/dist/jquery.js"], {defer:false, async:false})

//- Bootstrap
- scripts.add(["/vendor/components-bootstrap/js/bootstrap.js"], {defer:false, async:false})
- styles.add(["/vendor/components-bootstrap/css/bootstrap.css"])

//- Superslides
- scripts.add(["/vendor/superslides/dist/jquery.superslides.js"], {defer:false, async:false})
- styles.add(["/vendor/superslides/dist/stylesheets/superslides.css"])


//- Other Scripts
- scripts.add(["/vendor/log.js","/vendor/modernizr.js"], {defer:false, async:false})
- scripts.add(["/vendor/ie10-viewport-bug-workaround.js","/vendor/jquery.cubeportfolio.js","/vendor/retina-1.1.0.js","/vendor/theme.js"], {defer:false, async:false})
//- Other CSS
- styles.add(["/styles/cubeportfolio.css","/styles/ionicons.css","/styles/style.css"])



doctype html(lang='en')
head
  meta(charset='utf-8')
  |     
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  |     
  meta(name='viewport', content='width=device-width, initial-scale=1')
  |     
  link(rel='icon', href='ico/favicon.ico')
  |     
  title Theme 15 - LandingSumo.com

  // Styles
  != styles.toHTML()
  
  // IE10 viewport hack for Surface/desktop Windows 8 bug
  script(src='vendor/ie10-viewport-bug-workaround.js')
  // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
  //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    |       
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')


body
  section(id="topmenu")
    #topmenutext
      #menubackground
      img(src='assets/img/logo-60.png', alt='')
      span UNA Solutions, LLC

  section(id="banner")
    #bannertext
      h1 A Better Place to Work
      |             
      hr.aligncenter
      |             
      h3 A Truly Handsome Bootstrap 3 Theme Crafted For Your Agency
      |             
    // end:Banner text
  .container
    .row.mtb2.centered
      .col-md-4.w
        .circle-icon
          .icon.ion-ios7-gear-outline
        | &#x9;&#x9;&#x9;&#x9;
        h5 Working Theme
        | &#x9;&#x9;&#x9;&#x9;
        hr.aligncenter
        | &#x9;&#x9;&#x9;&#x9;
        p
          | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
      | &#x9;&#x9;&#x9;
      .col-md-4.w
        .circle-icon
          .icon.ion-ios7-analytics-outline
        | &#x9;&#x9;&#x9;&#x9;
        h5 Important Stats
        | &#x9;&#x9;&#x9;&#x9;
        hr.aligncenter
        | &#x9;&#x9;&#x9;&#x9;
        p
          | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
      | &#x9;&#x9;&#x9;
      .col-md-4.w
        .circle-icon
          .icon.ion-ios7-camera-outline
        | &#x9;&#x9;&#x9;&#x9;
        h5 Awesome Design
        | &#x9;&#x9;&#x9;&#x9;
        hr.aligncenter
        | &#x9;&#x9;&#x9;&#x9;
        p
          | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
  // /.container
  #portfolio
    #grid-container.cbp-l-grid-fullScreen
      ul
        li.cbp-item.identity
          a.cbp-caption.cbp-lightbox(data-title='Image', href='assets/img/portfolio/1.jpg')
            .cbp-caption-defaultWrap
              img.img-responsive(src='assets/img/portfolio/1.jpg', alt='')
            |                     
            .cbp-caption-activeWrap
              .cbp-l-caption-alignCenter
                .cbp-l-caption-body
                  .cbp-l-caption-title Image LightBox
                  |                              
                  .cbp-l-caption-desc by John Doe
        // end:Item
        li.cbp-item.web-design
          a.cbp-caption.cbp-lightbox(data-title='Image', href='assets/img/portfolio/2.jpg')
            .cbp-caption-defaultWrap
              img.img-responsive(src='assets/img/portfolio/2.jpg', alt='')
            |                     
            .cbp-caption-activeWrap
              .cbp-l-caption-alignCenter
                .cbp-l-caption-body
                  .cbp-l-caption-title Image LightBox
                  |                              
                  .cbp-l-caption-desc by John Doe
        // end:Item
        li.cbp-item.graphic.identity
          a.cbp-caption.cbp-lightbox(data-title='Image', href='assets/img/portfolio/3.jpg')
            .cbp-caption-defaultWrap
              img.img-responsive(src='assets/img/portfolio/3.jpg', alt='')
            |                     
            .cbp-caption-activeWrap
              .cbp-l-caption-alignCenter
                .cbp-l-caption-body
                  .cbp-l-caption-title Image LightBox
                  |                              
                  .cbp-l-caption-desc by John Doe
        // end:Item
        li.cbp-item.graphic.identity
          a.cbp-caption.cbp-lightbox(data-title='Image', href='assets/img/portfolio/4.jpg')
            .cbp-caption-defaultWrap
              img.img-responsive(src='assets/img/portfolio/4.jpg', alt='')
            |                     
            .cbp-caption-activeWrap
              .cbp-l-caption-alignCenter
                .cbp-l-caption-body
                  .cbp-l-caption-title Image LightBox
                  |                              
                  .cbp-l-caption-desc by John Doe
        // end:Item
  .container
    .row.mtb.centered
      .col-md-6.col-md-offset-3.w
        h5 Our Services
        | &#x9;&#x9;&#x9;&#x9;
        hr.aligncenter
    | &#x9;&#x9;
    | &#x9;&#x9;
    .row.mtb.centered
      .col-md-3
        .ser.w
          i.icon.ion-settings
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          h5 Web Design
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          hr.aligncenter
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p
            | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
      | &#x9;&#x9;&#x9;
      .col-md-3
        .ser.w
          i.icon.ion-chatbubble-working
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          h5 Social Media
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          hr.aligncenter
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p
            | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
      | &#x9;&#x9;&#x9;
      .col-md-3
        .ser.w
          i.icon.ion-beaker
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          h5 Development
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          hr.aligncenter
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p
            | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
      | &#x9;&#x9;&#x9;
      .col-md-3
        .ser.w
          i.icon.ion-trophy
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          h5 Award Support
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          hr.aligncenter
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p
            | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
  #t.carousel.slide(data-ride='carousel')
    .col-md-6.col-md-offset-3.centered
      h5 Love From Our Users
      |     &#x9;&#x9;
      hr.aligncenter
      //
        Carousel
        ==================================================
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#mint', data-slide-to='0')
        | &#x9;&#x9;        
        li(data-target='#mint', data-slide-to='1')
        | &#x9;&#x9;        
        li(data-target='#mint', data-slide-to='2')
      | &#x9;&#x9;      
      .carousel-inner
        .item.active
          .centered.mtb
            h4
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&apos;t look even slightly believable.
            | &#x9;&#x9;&#x9;&#x9;        
            p SHARON SMITH
        | &#x9;&#x9;&#x9;&#x9;
        | &#x9;&#x9;        
        .item
          .centered.mtb
            h4
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&apos;t look even slightly believable.
            | &#x9;&#x9;&#x9;&#x9;        
            p SAM MANNING
        | &#x9;&#x9;        
        .item
          .centered.mtb
            h4
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&apos;t look even slightly believable.
            | &#x9;&#x9;&#x9;&#x9;        
            p PAUL STEVENSON
  #g
    .container
      .row.mtb
        .col-md-1.centered
          i.icon.ion-ios7-monitor-outline
        | &#x9;&#x9;&#x9;&#x9;
        .col-md-3.w
          h5 Retina Ready
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          hr
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p
            | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        | &#x9;
        | &#x9;&#x9;&#x9;&#x9;
        .col-md-1.centered
          i.icon.ion-ios7-paper-outline
        | &#x9;&#x9;&#x9;&#x9;
        .col-md-3.w
          h5 Documented
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          hr
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p
            | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        | &#x9;
        | &#x9;&#x9;&#x9;&#x9;
        .col-md-1.centered
          i.icon.ion-ios7-browsers-outline
        | &#x9;&#x9;&#x9;&#x9;
        .col-md-3.w
          h5 Built On Bootstrap
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          hr
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p
            | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
      | &#x9;&#x9;&#x9;
      .row.mtb
        .col-md-1.centered
          i.icon.ion-ios7-medkit-outline
        | &#x9;&#x9;&#x9;&#x9;
        .col-md-3.w
          h5 Awesome Support
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          hr
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p
            | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        | &#x9;
        | &#x9;&#x9;&#x9;&#x9;
        .col-md-1.centered
          i.icon.ion-ios7-cart-outline
        | &#x9;&#x9;&#x9;&#x9;
        .col-md-3.w
          h5 Affordable Price
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          hr
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p
            | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        | &#x9;
        | &#x9;&#x9;&#x9;&#x9;
        .col-md-1.centered
          i.icon.ion-ios7-box-outline
        | &#x9;&#x9;&#x9;&#x9;
        .col-md-3.w
          h5 20 Themes Bundle
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          hr
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p
            | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
    | &#x9;&#x9;
    .container
      .row
        .col-md-8.col-md-offset-2
          img.img-responsive.aligncenter(src='assets/img/phone.png', alt='')
  .container
    .row.mtb.centered.w
      h5 From Our Blog
      | &#x9;&#x9;&#x9;
      hr.aligncenter
    | &#x9;&#x9;
    .row.w
      .col-md-4
        img.img-responsive.aligncenter(src='assets/img/blog01.jpg', alt='')
        | &#x9;&#x9;&#x9;&#x9;
        .date
          h4
            bold 13
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          h4 Sep
        | &#x9;&#x9;&#x9;&#x9;
        h5 The Food You Need
        | &#x9;&#x9;&#x9;&#x9;
        p.desc
          | Posted by Frank Smith in 
          b Tips
        | &#x9;&#x9;&#x9;&#x9;
        p
          | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        | &#x9;&#x9;&#x9;&#x9;
        p
          a(href='#') Continue Reading...
      | &#x9;&#x9;&#x9;
      .col-md-4
        img.img-responsive.aligncenter(src='assets/img/blog02.jpg', alt='')
        | &#x9;&#x9;&#x9;&#x9;
        .date
          h4
            bold 28
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          h4 Aug
        | &#x9;&#x9;&#x9;&#x9;
        h5 Thinking About Life
        | &#x9;&#x9;&#x9;&#x9;
        p.desc
          | Posted by Frank Smith in 
          b Thougts
        | &#x9;&#x9;&#x9;&#x9;
        p
          | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        | &#x9;&#x9;&#x9;&#x9;
        p
          a(href='#') Continue Reading...
      | &#x9;&#x9;&#x9;
      .col-md-4
        img.img-responsive.aligncenter(src='assets/img/blog03.jpg', alt='')
        | &#x9;&#x9;&#x9;&#x9;
        .date
          h4
            bold 13
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          h4 Jul
        | &#x9;&#x9;&#x9;&#x9;
        h5 Visiting The Mountains
        | &#x9;&#x9;&#x9;&#x9;
        p.desc
          | Posted by Frank Smith in 
          b Travel
        | &#x9;&#x9;&#x9;&#x9;
        p
          | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        | &#x9;&#x9;&#x9;&#x9;
        p
          a(href='#') Continue Reading...
  #f
    .container
      .row
        .col-md-6.col-md-offset-3.w.centered
          h5.mb Want To Know Our Latest News?
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          form(role='form', action='register.php', method='post', enctype='plain')
            input.subscribe-input(type='email', name='email', placeholder='Enter your e-mail address...', required='')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            button.btn.btn-lg.btn-clear.subscribe-submit(type='submit') Subscribe
      | &#x9;&#x9;&#x9;
      .row.mtb
        .col-md-6.col-md-offset-3.centered
          a(href='#')
            i.icon.ion-social-instagram
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          a(href='#')
            i.icon.ion-social-twitter
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          a(href='#')
            i.icon.ion-social-facebook
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          a(href='#')
            i.icon.ion-social-dribbble
  | &#x9;
  #copyright
    .container
      .row
        .col-md-6.col-md-offset-3.centered
          h6 COPYRIGHT 2014 | LANDING SUMO
  // Scripts
  != scripts.toHTML()

  script.
    //Superslides
    $('#slides').superslides({
      slide_easing: 'easeInOutCubic',
      slide_speed: 800,
      pagination: true,
      hashchange: false,
      scrollable: true,
      animation: 'fade'
    });
    // Add swipe option
    document.ontouchmove = function (e) {
      e.preventDefault();
    };
    $('#slides').hammer().on('swipeleft', function () {
      $(this).superslides('animate', 'next');
    });
    $('#slides').hammer().on('swiperight', function () {
      $(this).superslides('animate', 'prev');
    });
  |     
  |     
  script.
    // Banner text add parallax efect and fade
    function EasyPeasyParallax() {
      scrollPos = $(this).scrollTop();
      $('#slider').css({
        'background-position': '50% ' + (-scrollPos / 4) + "px"
      });
      $('#bannertext').css({
        //'margin-top': (scrollPos / 4) + "px",
        'opacity': 1 - (scrollPos / 250)
      });
      var opInc = (scrollPos / 400);
      if (opInc > 1) {
        opInc = 1;
        }
      $('#menubackground').css({
        'opacity': 0.5 + opInc / 2
      });
      var delta = (30 * opInc)
      $('#topmenutext img').css({
        'height': 60 - delta
      });
      $('#menubackground').css({
        'height': 75 - delta
      });
      $('#banner').css({
        'background-position-y': '-' + opInc * 100.0
      });
    }
    
    $(document).ready(function () {
      $(window).scroll(function () {
        EasyPeasyParallax();
      });
    });


